header{
	background-color: white;
	height: 7em;
	color: teal;
	text-align: center
	
	
}

header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;	
}

/* codigos referentes ao titulo */
